body
{
  background-image: url("videoimage1.jpg");
  background-repeat:no-repeat ;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-size: 2.0rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  
  
}
*{
  margin: 0;
  padding: 0;
}
.heading{
  color: black;
  
}